# Python related
__pycache__
.mypy_cache
.venv*
.conda/
uv.lock
.coverage

# IDE and editors
.vscode
.idea

# Logs and temporary files
botpy.log
logs/
temp
cookies.json

# Data files
data_v2.db
data_v3.db
configs/session
configs/config.yaml
cmd_config.json

# Plugins and packages
addons/plugins
packages/python_interpreter/workplace
tests/astrbot_plugin_openai

# Dashboard
dashboard/node_modules/
dashboard/dist/
package-lock.json
package.json
yarn.lock

# Operating System
**/.DS_Store
.DS_Store

# AstrBot specific
.astrbot
astrbot.lock

# Other
chroma
venv/*
pytest.ini
AGENTS.md
IFLOW.md



data/*
# 保留data/plugins目录（否则plugins会被上面的data/*忽略）
!data/plugins/
# 忽略data/plugins下的所有内容（为后续否定做铺垫）
data/plugins/*
# 否定：不忽略这两个特定文件夹
!data/plugins/astrbot_plugin_re_xiuxian/
!data/plugins/astrbot_plugin_steam_status_monitor_shell/